{% load sitecontent_tags %}
<html>
	<head>
        <title>{% load_content SiteName %}</title>
	</head>
    <body>
        <h1>{% load_content SiteName %}</h1>
        <h2>this is the index </h2>
        <p>{% load_content SiteDescription default 'site description' %}</p>
	</body>
</html>

